@model Taller.Core.Models.Entidades.Cliente

<h3>Nuevo cliente</h3>
<div class="row"> 
      <div  class="col-12 col-lg-6">
            <form asp-controller="Cliente" asp-action="Create">
             <input type="text" asp-for="IdCliente" class="form-control" type="hidden">      
              <div class="from-group">
                     <label asp-for="Nombre" class="control-label"></label>
                     <input type="text" asp-for="Nombre" class="form-control">
                     <span asp-validation-for="Nombre" class="text-danger"></span>
              </div>
               <div class="from-group">
                     <label asp-for="Telefono" class="control-label"></label>
                     <input type="text" asp-for="Telefono" class="form-control">
                     <span asp-validation-for="Telefono" class="text-danger"></span>
              </div>
              <div class="from-group">
                     <label asp-for="Correo" class="control-label"></label>
                     <input  asp-for="Correo" class="form-control">
                     <span asp-validation-for="Correo" class="text-danger"></span>
              </div>
              <div class="from-group">
                     <label asp-for="LimiteCredito" class="control-label"></label>
                     <input  asp-for="LimiteCredito" class="form-control">
                     <span asp-validation-for="LimiteCredito" class="text-danger"></span>
              </div>
              <div class="from-group">
                     <label asp-for="Activo" class="control-label"></label>
                     <input  asp-for="Activo" class="form-control">
                     <span asp-validation-for="Activo" class="text-danger"></span>
              </div>
              <a asp-controller="Cliente" asp-action="Index" class="btn btn-secondary">Regresar</a>
             <input type="submit" value="Guardar" class="btn btn-primary">
          </form>
      </div>
</div>