@model Taller.Core.Models.Entidades.Marca

<h3>Create Marca</h3>
<div class="row"> 
      <div  class="col-12 col-lg-6">
            <form asp-action="Create" asp-controller="Marca" >
             
              <input type="text" asp-for="IdMarca" class="form-control" type="hidden">
              
              <div class="from-group">
                     <label asp-for="Descripcion" class="control-label"></label>
                     <input type="text" asp-for="Descripcion" class="form-control">
                     <span asp-validation-for="Descripcion" class="text-danger"></span>
              </div>
              <div class="from-group">
                     <label asp-for="Activo" class="control-label"></label>
                     <input  asp-for="Activo" class="form-control">
                     <span asp-validation-for="Activo" class="text-danger"></span>
              </div>
              <a asp-controller="Marca" asp-action="Index" class="btn btn-secondary">Regregar</a>
             <input type="submit" value="Guardar" class="btn btn-primary">
             
          </form>
      </div>
</div>